@import url('https://unicons.iconscout.com/release/v0.0.3/css/unicons.css');
@import '~css-reset-and-normalize/scss/reset-and-normalize';
@import './config.scss';

body {
  background-color: $secondary-background-color;
  line-height: 150%;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

a {
  color: darken($primary-color, 4);
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 150%;
  margin-bottom: .25em;
}

h1 {
  font-size: 1.6em;
}

.Layout {
  // width: 100%;
  max-width: 420px; // nice
  flex: 1;
}

.Hero {
  padding-bottom: 0;
}

.Meta {
  margin-top: .75em;
  font-size: .9em;
  color: $secondary-text-color;
}

@import './parts/card.scss';
@import './parts/nav.scss';
@import './parts/button.scss';
@import './parts/form.scss';
@import './parts/dropzone.scss';
@import './parts/player.scss';
@import './parts/progress.scss';